@model dynamic

@{
    ViewBag.Title = "Message";
   
}

<h2>User Message</h2>
<div>
    <p>
        Your request has been accepted , you will be notified soon .
        So be with us.
    </p>
</div>